// 수정사항 정리
// 버튼 공통화 작업을 위해 따로 scss 파일 생성
// _가 들어간 클래스명 -로 변경

.btns {
    display: block;
    margin: 0 auto;
    height: 48px;
    border: 1px solid transparent;
    border-radius: 6px;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    line-height: 46px;
    text-align: center;
    background-color: $main-color;
    &.border-btn {
        border: 1px solid $border-color;
        color: #666;
        background-color: $white;
        &.blue {
            border-color: $main-color;
            color: $main-color;
        }
        &.gray {
            border-color: #aaa;
            color: #aaa;
        }
        &.red {
            border-color: #ff6652;
            color: #ff6652;
        }
    }
    &.disabled {
        background-color: #ccc;
    }
    &.naver-btn {
        background-color: #42be6f;
        img {
            margin-right: 8px;
        }
    }
    &.kakao-btn {
        color: #191919;
        background-color: #fee22b;
    }
    &.small {
        width: 58px;
		height: 36px;
		line-height: 34px;
		font-size: 14px;
        font-weight: normal;
	}
	&.large {
		width: 350px;
		font-size: 16px;
	}
    &.finsh-btn {
        background-color: #aaa;
    }
    img {
        margin-top: -3px;
        margin-right: 4px;
        vertical-align: middle;
    }
}
.round {
    border-radius: 30px;
}