$main-color : #418ac9;
$background-color : #f2f7fc;
$border-color : #e0e0e0;
$white : #fff;

@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        text-overflow:clip;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}
.wrap {
    position: relative;
    min-width: 1200px;
    width: 100%;
    height: calc(100vh - 65px);
    margin: 0 auto;
    &.revise-wrap {
        min-width: 1370px;
    }
    &.offcial-wrap {
        min-width: 1400px;
    } 
}
.cf {
    &::after {
        display: block;
        content: '';
        clear: both;
    }
}
.inner {
    width: 1200px;
    margin: 0 auto;
}
.login-inner {
    width: 900px;
    margin: 0 auto;
}
.title-style {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    letter-spacing: -.75px;
    &.sub-title {
        font-size: 25px;
        letter-spacing: -.25px;
    }
    &.text-center {
        text-align: center;
    }
    &.font-weight-500 {
        font-weight: 500;
    }
    strong {
        font-weight: bold;
        color: $main-color;
    }
}
.flex-btw {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.flex-start {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.certify-mark {
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 4px;
        height: 4px;
        top: 4px;
        right: -7px;
        border-radius: 100%;
        background-color: #f00;
    }
}
input[type="text"] {
    padding: 11px;
    border-radius: 6px;
    border: 1px solid $border-color;
    font-size: 14px;
    &:focus {
        outline: 0;
    }
    &::placeholder {
        color: #bbb;
        font-size: 14px;
    }
}
.checkbox-area {
    text-align: left;
    input[type="checkbox"] {
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid $border-color;
        cursor: pointer;
        
        &:checked {
            &::after{
                position: absolute;
                content:'';
                width: 20px;
                height: 20px;
                top:0;
                left: 0;
                font-size: 25px;
                text-align: center;
                border-radius: 4px;
                background-color: $main-color;
            }
            & + label::after {
                position: absolute;
                content: '';
                width: 9px;
                height: 2px;
                top: 50%;
                left: -22px;
                transform: rotate(-45deg);
                background-color: $white;
            }
            & + label::before {
                position: absolute;
                content: '';
                width: 6px;
                height: 2px;
                top: 50%;
                left: -26px;
                transform: rotate(45deg);
                background-color: $white;
            }
        }
    }
    > label {
        position: relative;
        margin-left: 10px;
        line-height: 20px;
        color: #666;
        font-size: 13px !important;
        letter-spacing: -.33px;
    }
}
// header
header {
    padding: 14px 0;
    background-color: $white;
    border-bottom: 1px solid $border-color;
    .header-menu-group {
        a {
            color: #999;
            font-size: 14px;
            letter-spacing: -.56px;
            &:first-child {
                position: relative;
                margin-right: 27px;
                &::after {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 10px;
                    top: 6px;
                    right: -15px;
                    background-color: #9a9a9a;
                }
            }
        }
    }
}
caption {
    display: none;
}
td {
    &.don-t-revise {
        color: #a7a7a7 !important;
    }
    &.error {
        color: #ff6652 !important; 
    }
}