.main-teacher-school {
    padding: 3.6rem 0 2.9rem;
    // 학교 정보
    .school-report{
        text-align: center;
        // 학교 명
        p {
            margin-bottom: 1.05rem;
            font-size: 1.4rem;
            letter-spacing: -0.07rem;
        }
        // 학년 반
        strong, .std-name {
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: -0.1rem;
            // 학생 번호 이름
            &.std-name {
                margin-left: 0.8rem;
                font-weight: 400;
            }
        }
    }
}
// 학생 총 인원수
.std-num {
    height: 2rem;
    margin: 0 0.5rem;
    padding: 0 0.75rem;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    color: #999;
    letter-spacing: -0.06rem;
    background-color:#f3f5f9;
    img {
        width: 1rem;
        height: 1.1rem;
        margin-right: 0.45rem;
        margin-top: -.2rem;
        vertical-align: middle;
    }
}
// 교사용 버튼
.main-tea-btn {
    width: 100%;
    margin-top: 2.5rem;
    // 버튼 공통 요소
    > .btns {
        width: calc(50% - 0.4rem);
        font-size: 1.4rem;
        letter-spacing: -0.07rem;
        // 초대코드
        span {
            font-size: 1.4rem;
            &:first-child {
                position: relative;
                margin-right: 0.6rem;
                &::before {
                    position: absolute;
                    content: '';
                    width: 0.1rem;
                    height: 1.2rem;
                    top: 0.5rem;
                    right: -0.5rem;
                    background-color: #bbb;
                }
            }
        }
        // 학생 관리 버튼
        &:last-child {
            img {
                width: 1.3rem;
                height: 1.45rem;
                margin-top: -.2rem;
                vertical-align: middle;
            }
        }
    }
}
// 환영문구
.main-noitce-popup {
    padding: 1.6rem 0;
    color: $white;
    background-color: $main-color;
    img {
        width: 1.7rem;
        height: 1.7rem;
    }
    p {
        margin-left: 1.1rem;
        font-size: 1.4rem;
        letter-spacing: -0.07rem;
    
    }
}
// 콘텐츠 영역
.main-content-area {
    padding: 3.6rem 0 4.95rem;
    background-color: $background-color;
    .inner {
        // 콘텐츠 명
        .content-list-title {
            display: block;
            margin-bottom: 1.6rem;
            color: #000;
            h6 {
                display: inline-block;
                font-size: 1.6rem;  
                font-weight: bold;
            }
            img {
                display: inline-block;
                margin-left: 0.5rem;
                width: 0.45rem;
                height: 0.9rem;
                margin-top: -.6rem;
                vertical-align: middle;
            }
        }
    }
}
// 콘텐츠 내용
.content-list-body {
    margin-bottom: 3.6rem;
    padding: 0.8rem 2rem;
    border-radius: 0.4rem;
    background-color: $white;
    
    > ul {
        li {
            border-bottom: 0.1rem solid $border-color;
                &:last-child {
                    border: 0;
                }
                a {
                    padding: 2rem 0;
                    display: block;
                    letter-spacing: -0.07rem;
                    > p {
                        margin-bottom: 0.8rem;
                    }
                }
                .con-text-title {
                    line-height: 2.1rem;
                    font-size: 1.4rem;
                    color: #000;
                    word-break: keep-all;
                }
                // 과제 제출 버튼
                > .btns {
                    padding: 0;
                }
            }
        }
        // 과제 제출 콘텐츠
        dl {
            padding: 2rem 0;
            width: calc(100% - 8rem);
        }
        // 과제 진행중 유무/날짜
        dt {
            margin-bottom: 0.5rem;
            span{
                &.btns {
                    display: inline-block;
                    width: 4.8rem;
                    margin-right: 0.5rem;
                    height: 2.2rem;
                    font-size: 1.1rem;
                    line-height: 2rem;
                }
            }
        }
    &:last-child {
        margin-bottom: 0;
        padding: 2.5rem 2rem 2.8rem;
    }
    
    &.content-class-none {
        display: flex;
        flex-direction:column;
        justify-content: center;
        height: 23rem;
        box-sizing: border-box;
        letter-spacing: -0.07rem;
        > p {
            margin-bottom: 1rem;
            font-size: 1.4rem;
            line-height: 2.1rem;
        }
    }
}
// 급식 정보
.school-meal-date {
    position: relative;
    margin-bottom: 3.75rem;
    // 날짜 이동 버튼
    a {
        display: block;
        width: 2rem;
        height: 2rem;
        img {
            width: 100%;
        }
    }
    // 날짜
    p {
        text-align: center;
        padding: 0.25rem 0;
        color: #000;
        font-size: 1.4rem;
        font-weight: bold;
    }
}
// 급식 메뉴
.school-meal-menu {
    p {
        text-align: center;
    }
    ul {
        letter-spacing: -0.07rem;
        text-align: center;
        li {
            margin-top: 1.5rem;
            font-size: 1.4rem;
            &:first-child {
                margin-top: 3rem;
            }
        }
    }
}
.swiper-button-prev, .swiper-button-next {
    &.swiper-button-prev {
        left: -.5rem;
    }
    &.swiper-button-next {
        right: -.5rem;
    }
    &::after {
        display: none;
    }
    a {
        display: block;
        position: absolute;
        width: 2rem;
        height: 2rem;
        img {
            width: 100%;
        }
    }
}
// 콘텐츠 내에 등록된 정보 없을 시
.content-none {
    padding: 10.85rem 0 10.8rem;
    font-size:1.4rem;
    letter-spacing: -0.07rem;

    &.none-center {
        padding: 0 0 13.95rem;
        text-align: center;
    }
}
.con-date-text {
    font-size: 1.3rem;
    color: #999;
}

  
.mypage-body-arer {
    padding: 2.8rem 2rem 5rem;
    input {
        margin: 1.5rem 0 3.15rem;
        &.code-bottom {
            margin-bottom: 1.6rem;
        }
    }
    p {
        margin-bottom: 4rem;
        color: #666;
        font-size: 1.2rem;
        line-height: 1.8rem;
        letter-spacing: -0.06rem;
    }
}
.phone-num-group {
    margin: 1.5rem 0 3.15rem;
    font-size: 1.2rem;
    input {
        margin: 0 0.75rem 0 0.85rem;
        &.frist-num {
            width: 80%;
            margin-left: 0;
        }
        &.last-num {
            margin-right: 0;
        }
    }
}